@import "tailwindcss";

:root {
  --background: #dcd4c3;
  --foreground: #171717;
  --bg-primary: #dcd4c3;
  --bg-secondary: #2c5f5d;
  --text-primary: #171717;
  --text-secondary: #ffffff;
  --text-highlight: #e8dcc8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dcd4c3;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-primary {
  background: var(--bg-primary);
}

.bg-secondary {
  background: var(--bg-secondary);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-highlight {
  color: var(--text-highlight);
}

.logo {
  filter: brightness(0) saturate(100%) invert(77%) sepia(12%) saturate(357%)
    hue-rotate(16deg) brightness(93%) contrast(89%);
}
